/* Main things */
body {
    margin:0;
    background-color: none;
}

/* Links */

.links-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #996633;
    border-radius: 15px;
    position: relative;
    right:-100px;
}
.links-wrapper > .nav-link {
    width: auto;
    margin: 10px;
    text-align: center;
	font-family: 'Montserrat', sans-serif;
	
}
.links-wrapper > .nav-link a{
	transition:0.5s;
	text-decoration: none;
    border-radius: 5px;
    padding: 5px;
}

a:link {
	color: white;
	font-size: 20px;
	text-decoration: none;
}

a:hover {
	color: pink;
	font-size: 20px;
	letter-spacing: 2px;
}

a:visited {
	color: white;
	font-size: 20px;
	text-decoration: none;
}

a:active {
	color: antiquewhite;
	font-size:20px;
}
/* Skewed header */

.skewed-header {
    position: relative;
    height: 600px;
    overflow: hidden;
}

.skewed-header > .header-bg {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 55%;
    width: 100%;
    background-repeat:repeat-y;
    background-size: 100%;
    transform: skewY(6deg);
    transform-origin: top right;
    filter: brightness(50%);
}

.skewed-header > .skewed-header-wrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100vw;
}

.skewed-header > .skewed-header-wrapper > .skewed-header-content{
    width: 1000px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.skewed-header > .skewed-header-wrapper > .skewed-header-content > .heading-wrapper{
    margin-top: 20px;
    position: relative;
    left:-100px;
}

section{
    margin-bottom: 30px;
    position: relative;
    top: -180px;
}

section > #pro{
    display: flex;
    justify-content: left;
    padding: 20px 0px 90px 0px;
    font-size: 80px;
    text-decoration: 2px underline wavy black;
}

main {
    padding: 0px 0px 40px 0px;
    display: grid;
    justify-content: center;
}

section > .products {
    display: grid;
    justify-content: center;
    grid-template-columns: 200px 1000px;
    grid-template-rows: auto;
    margin-bottom: 50px;
    border: 1px solid grey;
    border-radius: 15px;
}

.emotionArea {
    width: 300px;
    height: 120px;
    padding: 5px;
    background-color: white;
    border-radius: 100px;
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    animation: fall 0.5s ease-out 0s 1 normal forwards;
    position: fixed;
    z-index: 10;
}

@keyframes fall {
    from {
        top: -150px;
    }
    to {
        top: 15px;
    }

}

section > .products > .description {
    display: flex;
    text-align: left;
    background-color: #ffcc99;
    width: auto;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
    
}
section > .products > .description > p {
    font-size: 20px;
    height: 200px;
    margin:0;

}

section > .products > img {
    display: flex;
    height: 200px;
    width: 100%;
    margin:0;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
section > .More-coming {
    display: flex;
    justify-content: center;
    font-size: 50px;
    padding-bottom: -90px;
}

footer {
    background-color: #663300;
    padding: 50px 0px 20px 0px;
    
}
footer > .logo { 
    display: flex;
    justify-content: center; 
    margin: 40px 0px 0px 0px;

}
footer > .bottom_nav_bar {
    display: grid;
    position: relative;
    right: 100px;
    justify-content: center;
    grid-template-columns: 500px;
    margin-bottom: 40px;
}