/* Main things */
body {
    margin:0;
    background-color: none;
}



/* Links */

.links-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #996633;
    border-radius: 15px;
}
.links-wrapper > .nav-link {
    width: auto;
    margin: 10px;
    text-align: center;
	font-family: 'Montserrat', sans-serif;
	
}
.links-wrapper > .nav-link a{
	transition:0.5s;
	text-decoration: none;
    border-radius: 5px;
    padding: 5px;
}

a:link {
	color: white;
	font-size: 20px;
	text-decoration: none;
}

a:hover {
	color: pink;
	font-size: 20px;
	letter-spacing: 2px;
}

a:visited {
	color: white;
	font-size: 20px;
	text-decoration: none;
}

a:active {
	color: antiquewhite;
	font-size:20px;
}
/* Skewed header */

.skewed-header {
    position: relative;
    height: 600px;
    overflow: hidden;
}

.skewed-header > .header-bg {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 55%;
    width: 100%;
    background-repeat:repeat-y;
    background-size: 100%;
    transform: skewY(6deg);
    transform-origin: top right;
    filter: brightness(50%);
}

.skewed-header > .skewed-header-wrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100vw;
}

.skewed-header > .skewed-header-wrapper > .skewed-header-content{
    width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skewed-header > .skewed-header-wrapper > .skewed-header-content > .heading-wrapper{
    background-color: #cea135;
    color: #11122b;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    width: 175px;
    padding: 10px;
    text-align: center;
}

section{
    margin-bottom: 30px;
    position: relative;
    top: -180px;
}
section > #pro{
    display: flex;
    justify-content: center;
}

main {
    padding: 0px 0px 40px 0px;
    display: grid;
    justify-content: center;
}

section > .products {
    display: grid;
    justify-content: center;
    grid-template-columns: 400px 1000px;
    grid-template-rows: auto;
    margin-bottom: 30px;
}


section > .products > .description {
    display: flex;
    background-color: #ffcc99;
    width: auto;
    border: 5px solid 	black;
    border-radius: 10px;
    margin: 20px 0px 20px 0px;
}
section > .products > .description > p {
    font-size: 10px;
    height: 200px;
}

section > .products > img {
    display: flex;
    height: 200px;
    width: 200px;
    border: 5px solid black;
    border-radius: 10px;
    margin: 20px 15px 20px 0px;
}

footer {
    background-color: #663300;
    padding: 20px 0px 20px 0px;
    
}

footer > .bottom_nav_bar {
    display: grid;
    justify-content: center;
    grid-template-columns: 500px;
    
}