
@media screen and (max-width:776px){
    
    /* Product.html */
    .links-wrapper {
        flex-direction: column;
        margin-bottom: 20px;
        position: relative;
        right:auto;

    }

    .links-wrapper > .nav-link {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 1.5em;
        width: 100%;
    }
    
    .skewed-header > .skewed-header-wrapper > .skewed-header-content {
        flex-direction: column;
		width: auto;    
    }

    .skewed-header > .skewed-header-wrapper > .skewed-header-content > .heading-wrapper{
        margin-top: 20px;
        margin-bottom: 20px;
        position: relative;
        left: auto;
    }

    .skewed-header > .skewed-header-wrapper > .skewed-header-content > .heading-wrapper > img {
        height: 90px;
    }

    .skewed-header > .header-bg {
        height: 75%;
		width: auto;
    }

    section{
        position: relative;
        top: -180px;
    }

    section > #pro{
        display: flex;
        justify-content: center;
    }

    section > .products{
        display: flex;
        flex-direction: column;
        width: 300px;
        position: relative;
        left: 100px;
    }

    section > .products > .description {
        display: flex;
        text-align: center;
        justify-content: center;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        height: auto;
        padding-bottom: 310px;
        

    }

    section > .products > img {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        border-bottom-left-radius: 0px;
    }
    section > .More-coming {
        text-align: center;
    }

    footer > .bottom_nav_bar{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 20px;
        position: relative;
        right: auto;
        width: 200px;
    }

    footer > .bottom_nav_bar > .links-wrapper{
        display: flex;
        justify-content: center;
        position: relative;
        left: 145px;
    }
    footer > .logo { 
       padding-bottom: 50px;
    }
    footer > .logo > img{
        height: 90px;
    }
    /* Product.html */
    /* Cave.html */
    div.row > .col > img{
        height: 450px;
    }
}
/* this is used for the logo on the 60s page */
@media screen and (max-width:1200px){
    .links-wrapper {
        margin-bottom: 20px;
        position: relative;
        right:auto; 
    }   
    .skewed-header > .skewed-header-wrapper > .skewed-header-content{
        flex-direction: column;
        
    }
    .skewed-header > .skewed-header-wrapper > .skewed-header-content > .heading-wrapper{
        margin-bottom: 30px;
        position: relative;
        left: auto;
    }
    .skewed-header > .skewed-header-wrapper > .skewed-header-content > .heading-wrapper > img{
        margin-top: 0;
    }
    section > .products{
        grid-template-columns: 200px 500px;
    }
    section > .products > .description > p {
        font-size: 15px;
    }



    section > .More-coming {
        font-size: 20px;
    }

    footer > .bottom_nav_bar > .links-wrapper{
        display: flex;
        justify-content: center;
    }
    footer > .bottom_nav_bar {
        display: flex;
        position: relative;
        right: auto;
    }
}