
@media screen and (max-width:650px){
    .links-wrapper {
        flex-direction: column;
        margin-bottom: 20px;

    }
    .links-wrapper > .nav-link {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 1.5em;
        width: 100%;
    }
    
    .skewed-header > .skewed-header-wrapper > .skewed-header-content {
        flex-direction: column;
		width: auto;
    }

    .skewed-header > .header-bg {
        
		width: auto;
    }

}
/* this is used for the logo on the 60s page */
@media screen and (max-width:1100px){
    .logo60s{
        width:100%;
        
    }
}