/* the begining of our really cool styles  */

body {
  font-family: Comfortaa;
  color: black;
  background-color: white;
}

.caveportrate {
  max-width: 500px;
  margin:0px 50px 30px 75px;
}

.logo60s {
  max-height: 300px;
}

img {
  margin-bottom: 30px;
}

.cavecolor {
  background-color: #472603;
}

.cavetextdiv{
  height:30%;
  background-color:#bb9966;
  margin-top:25px;
  margin-right:100px;
  color:	#ffffff;
  font-size:19px;
}

.articles {
  position: relative;
  top: -200px;
  text-align: center;
  width: 70%;
}

.article {
  background-color: #472603;
  padding: 15px;
  border-radius: 15px;
}

.article-header {
  margin-bottom: 50px;
  background-color: #996633;
  width: fit-content;
  left: 50%;
  position: relative;
  transform: translate(-50%);
  padding: 15px;
  border-radius: 15px;
}